@charset "UTF-8"; 
 *{
    margin: 0px;
    padding: 0px;
 }

 ::-webkit-scrollbar {
   width: 0px;
   height: 0px;
 }

 body {
    background-color: rgba(135, 206, 250, 0.363);
 }

 header {
    background-color: lightskyblue;
    height: 100px;
    text-align: center;
    font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
 }

 #titulo {
   color: black;
 }

 h1 {
    color: rgb(12, 148, 233);;
      
 }

 span {
    color: rgb(68, 68, 175);
 }
 nav ul li {
    background-color: rgb(110, 189, 238);
    margin-top: 25px;
    display: inline-block;
    font-weight: weight;
    width: 100px;
    height: 20px;

 }

 li {
    padding: 5px;
   
 }

 a {
   text-decoration: none;
   color: rgb(30, 5, 5);
 }

 li:hover {
   background-color: rgb(60, 154, 192);
 }

 main {
    width: 97vw;
    margin: auto;
    margin: 10px 5px;
    background-color: white;
   
 }


 

 p {
   font-family: Arial, Helvetica, sans-serif;
   line-height: 25px;
    text-align: justify;
    text-indent: 4px;
    padding: 7px;
 }

 img {
   width: 97vw;
   height: 400px;
   display: block;
 }

 footer{
   margin: auto;
   width: 90vw;
   border: 2px solid rgba(0, 0, 0, 0.208);
   background-color: rgb(111, 208, 246);
   box-sizing: border-box;
 }


 #icon1 {
  padding-left: 5px;
   display: inline-block;
   border-radius: 50%;
   height: 35px;
   width: 30px;

 }

 #icon1:hover {
   border: 2px solid rgb(13, 190, 13);
   transform: translate(-3px, -3px);
   box-shadow: 5px 5px 10px black;
   transition: transform 0.5, border 1s;
 }

 #icon2 {
   display: inline-block;
   border-radius: 50%;
   height: 35px;
   width: 30px;
 }

 #icon2:hover {
   border: 2px solid rgb(202, 41, 41);
   transform: translate(-3px, -3px);
   box-shadow: 5px 5px 10px black;
   transition: transform 0.5, border 1s;
 }

 #copy {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: italic;
 }
    